<div class='homepageMainDiv'>
    <div class='homepageParentDiv'>
        <div class='homepageChildDiv'>
            <h1>Providing you healthy alternatives to live a Cancer free life!</h1>
            <%= react_component "Search" %>
            <img id="tomato" src="https://wynbucket.nyc3.digitaloceanspaces.com/think_pink/homepage_tomato.png" alt="">
        </div>
    </div>
    <div class='homepage-2div'>
        <h1 id="cancercardstitle">Top Cancerous Foods</h1>
        <div class="flipCard">
            <%= react_component "CancerousCard"%>
            <%= react_component "CancerousCard"%>
            <%= react_component "CancerousCard"%>

        </div>
    </div>


    <div class='homepage-3div'>
        <h2>Fighting Cancer by choosing the way you eat!</h2>
        <p id="info3Div">
            If you have a history of cancer in your family, making small changes to your diet and behaviors now can make a big difference to your long-term health.
            And if you’ve already been diagnosed with cancer, eating a nutritious diet can help support your mood and strengthen your body during this challenging time.
        </p>
        <div class='homepageStatsDiv'>
            <div class='circleStats'>


                <h2  id="firstCircleText">20-40%</h2>
                <h3  id="firstCircleText2">Cancer causing deaths can be prevented by eating healthy</h3>

                
            </div>
            <div class='circleStats'>
                <h2 id="secondCircleText">Food fight is the number#1 food alternative site</h2>
            </div>
            <div id="thirdCircle" class='circleStats'>
                <h2 id="thirdCircleText">We make eating healthy fun</h2>
            </div>
        </div>
        <div id="drinksImg">
            <img src="https://wynbucket.nyc3.digitaloceanspaces.com/think_pink/homepage_div.png" alt="drinks">
        </div>

    </div>

    <div id="forumDiv">
        <h1>Community Forum</h1>
        <h2>Share your stories' in a safe space with others just like you!</h2>
        <br><br>

       
            
            
    </div>


        <div id="homepageCarouselDiv">

            <div id="carouselTitle">
                <h1>Follow Us on Instagram</h1>
            </div>
            <div id="carouselDiv">
                <img class="carouselImg" src="https://images.ctfassets.net/oewsurrg31ok/2Y4MkF3zD9D72MFVAqm20R/7fc0e3bd1c647ff83dfeb2cf86aabbe6/healthy-eating-lettuce-wrap-780x600.jpg?w=1240&q=55" alt="">
                <img class="carouselImg" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/light-dinners-coconut-shrimp-rice-1566498330.jpg?crop=1.00xw:0.668xh;0,0.171xh&resize=640:*" alt="">
                <img class="carouselImg" src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fimg1.cookinglight.timeinc.net%2Fsites%2Fdefault%2Ffiles%2Fstyles%2F4_3_horizontal_-_1200x900%2Fpublic%2F1519665112%2Fgrilled-chicken-curry-flatbreads-ck-1804p37_1_1.jpg%3Fitok%3DD7LQvbii&q=85" alt="">
                <img class="carouselImg" src="https://www.errenskitchen.com/wp-content/uploads/2014/04/oven-fried-Chicken-4.jpg" alt="">
                <img class="carouselImg" src="https://gardeninthekitchen.com/wp-content/uploads/2018/06/carrot-fries2.jpg" alt="">

            </div>


        </div>
    <div class="social">
    <ul class="icons">
      <li><i class="fab fa-facebook-f"></i></li>
      <li><i class="fab fa-twitter"></i></li>
      <li><i class="fab fa-instagram"></i></li>
      <li><i class="fab fa-yelp"></i></li>
    </ul>
  </div>







</div>

